<h1>Editing Article</h1>
<% if @article.errors.any? %>
	<h2>The following errors prevented the artice from getting created</h2>
	<ul>
		<% @article.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>
<%= render 'form', article: @article %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
